# Objetivo

Aplicar o K Nearest Neighbors Na base toda.

# Método

A partir do conjunto reduzido de features (39) 100k rows, aplicar:
- fillna <b> OK </b>

- LabelEncoder (ou algo do tipo) <b> 'parcial' </b> - Travou 
- KNN

# Leitura dos arquivos

In [ ]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import feather

## Leitura da lista de features a excluir

## Carregamento Portfólio 1

In [53]:
p1 = pd.read_csv('estaticos_39_features.csv', nrows = 100000)
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 40 columns):
Unnamed: 0                               100000 non-null int64
Unnamed: 0.1                             100000 non-null int64
id                                       100000 non-null object
fl_matriz                                100000 non-null bool
de_natureza_juridica                     100000 non-null object
sg_uf                                    100000 non-null object
natureza_juridica_macro                  100000 non-null object
de_ramo                                  100000 non-null object
setor                                    99635 non-null object
idade_empresa_anos                       100000 non-null float64
idade_emp_cat                            100000 non-null object
fl_me                                    100000 non-null bool
fl_sa                                    100000 non-null bool
fl_mei                                   100000 non-null bool
fl_ltda                                  100000 non-null bool
dt_situacao                              99999 non-null object
fl_st_especial                           100000 non-null bool
fl_email                                 100000 non-null bool
fl_telefone                              100000 non-null bool
fl_rm                                    100000 non-null object
nm_divisao                               99635 non-null object
nm_segmento                              99635 non-null object
fl_optante_simples                       82266 non-null object
fl_optante_simei                         82266 non-null object
sg_uf_matriz                             99635 non-null object
de_saude_tributaria                      96854 non-null object
de_saude_rescencia                       96854 non-null object
nu_meses_rescencia                       90310 non-null float64
de_nivel_atividade                       97686 non-null object
empsetorcensitariofaixarendapopulacao    68765 non-null float64
nm_meso_regiao                           87320 non-null object
nm_micro_regiao                          87320 non-null object
fl_passivel_iss                          99635 non-null object
qt_socios                                75213 non-null float64
idade_media_socios                       67314 non-null float64
qt_socios_feminino                       31390 non-null float64
de_faixa_faturamento_estimado            94118 non-null object
de_faixa_faturamento_estimado_grupo      94118 non-null object
vl_faturamento_estimado_aux              94118 non-null float64
vl_faturamento_estimado_grupo_aux        94118 non-null float64
dtypes: bool(8), float64(8), int64(2), object(22)
memory usage: 25.2+ MB

## Redução no número de features

In [55]:
exclude_df = pd.read_csv('exclude_variables_generated_from_profiling.csv')
exclude_variables = exclude_df.values.squeeze().tolist()
len(exclude_variables)

143

In [56]:
p1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'id', 'fl_matriz', 'de_natureza_juridica',
       'sg_uf', 'natureza_juridica_macro', 'de_ramo', 'setor',
       'idade_empresa_anos', 'idade_emp_cat', 'fl_me', 'fl_sa', 'fl_mei',
       'fl_ltda', 'dt_situacao', 'fl_st_especial', 'fl_email', 'fl_telefone',
       'fl_rm', 'nm_divisao', 'nm_segmento', 'fl_optante_simples',
       'fl_optante_simei', 'sg_uf_matriz', 'de_saude_tributaria',
       'de_saude_rescencia', 'nu_meses_rescencia', 'de_nivel_atividade',
       'empsetorcensitariofaixarendapopulacao', 'nm_meso_regiao',
       'nm_micro_regiao', 'fl_passivel_iss', 'qt_socios', 'idade_media_socios',
       'qt_socios_feminino', 'de_faixa_faturamento_estimado',
       'de_faixa_faturamento_estimado_grupo', 'vl_faturamento_estimado_aux',
       'vl_faturamento_estimado_grupo_aux'],
      dtype='object')

In [57]:
#p1.drop(columns=exclude_variables, inplace= True)
#p1.to_csv('estaticos_39_features.csv')
p1.drop(columns=['Unnamed: 0','Unnamed: 0.1','id'], inplace= True)
p1.shape

(100000, 37)

# KNN

## Dados do portfólio

Para usar nos dados do portfólio:
- passar as strings para valor numérico
- passar bool para int
- fazer fillna para todos
- - em categoricas -> other
- - em numericas -> 0

Estamos usando o LabelEncoder

In [58]:

# Usando LabelEncoder
#https://chrisalbon.com/machine_learning/preprocessing_structured_data/convert_pandas_categorical_column_into_integers_for_scikit-learn/
from sklearn import preprocessing
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()

In [59]:
fill_dict = p1.dtypes.to_dict()
cat2bool = ['fl_optante_simei','fl_optante_simples','fl_passivel_iss']

for feature in fill_dict:
    if(fill_dict[feature] == bool):
        fill_dict[feature] = False
    elif(fill_dict[feature] == object):
        fill_dict[feature] = 'other'
    else:
        fill_dict[feature] = 0
    if feature in cat2bool:
        fill_dict[feature] = False
        
fill_dict

{'fl_matriz': False,
 'de_natureza_juridica': 'other',
 'sg_uf': 'other',
 'natureza_juridica_macro': 'other',
 'de_ramo': 'other',
 'setor': 'other',
 'idade_empresa_anos': 0,
 'idade_emp_cat': 'other',
 'fl_me': False,
 'fl_sa': False,
 'fl_mei': False,
 'fl_ltda': False,
 'dt_situacao': 'other',
 'fl_st_especial': False,
 'fl_email': False,
 'fl_telefone': False,
 'fl_rm': 'other',
 'nm_divisao': 'other',
 'nm_segmento': 'other',
 'fl_optante_simples': False,
 'fl_optante_simei': False,
 'sg_uf_matriz': 'other',
 'de_saude_tributaria': 'other',
 'de_saude_rescencia': 'other',
 'nu_meses_rescencia': 0,
 'de_nivel_atividade': 'other',
 'empsetorcensitariofaixarendapopulacao': 0,
 'nm_meso_regiao': 'other',
 'nm_micro_regiao': 'other',
 'fl_passivel_iss': False,
 'qt_socios': 0,
 'idade_media_socios': 0,
 'qt_socios_feminino': 0,
 'de_faixa_faturamento_estimado': 'other',
 'de_faixa_faturamento_estimado_grupo': 'other',
 'vl_faturamento_estimado_aux': 0,
 'vl_faturamento_estimado_grupo_aux': 0}

In [60]:
p1.fillna(value=fill_dict, inplace=True)
p1[cat2bool] = p1[cat2bool].astype(bool)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test

In [64]:
for feat in p1.columns:
    print(p1[feat].value_counts())
    print('\n')

True     93758
False     6242
Name: fl_matriz, dtype: int64


EMPRESARIO INDIVIDUAL                                                     64094
SOCIEDADE EMPRESARIA LIMITADA                                             19761
ASSOCIACAO PRIVADA                                                         6346
EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA DE NATUREZA EMPRESARIA     3227
ORGAO DE DIRECAO LOCAL DE PARTIDO POLITICO                                 1570
ORGANIZACAO RELIGIOSA                                                       619
SOCIEDADE ANONIMA FECHADA                                                   472
CONDOMINIO EDILICIO                                                         445
ENTIDADE SINDICAL                                                           375
CANDIDATO A CARGO POLITICO ELETIVO                                          335
SOCIEDADE SIMPLES LIMITADA                                                  284
EMPRESA INDIVIDUAL IMOBILIARIA                                              276
COOPERATIVA                                                                 268
FUNDO PUBLICO                                                               252
SOCIEDADE SIMPLES PURA                                                      186
SOCIEDADE ANONIMA ABERTA                                                    178
ORGAO PUBLICO DO PODER EXECUTIVO MUNICIPAL                                  139
MUNICIPIO                                                                   127
SOCIEDADE DE ECONOMIA MISTA                                                 111
FUNDACAO PRIVADA                                                            109
EMPRESA PUBLICA                                                             107
SOCIEDADE UNIPESSOAL DE ADVOCACIA                                           100
SERVICO NOTARIAL E REGISTRAL CARTORIO                                        98
ORGAO PUBLICO DO PODER EXECUTIVO ESTADUAL OU DO DISTRITO FEDERAL             82
ORGAO PUBLICO DO PODER LEGISLATIVO MUNICIPAL                                 67
AUTARQUIA FEDERAL                                                            47
SOCIEDADE EMPRESARIA EM NOME COLETIVO                                        43
ORGAO PUBLICO DO PODER EXECUTIVO FEDERAL                                     36
CONSORCIO DE SOCIEDADES                                                      34
AUTARQUIA MUNICIPAL                                                          32
SOCIEDADE EM CONTA DE PARTICIPACAO                                           24
EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA DE NATUREZA SIMPLES          23
SERVICO SOCIAL AUTONOMO                                                      22
ORGANIZACAO SOCIAL OS                                                        17
ORGAO DE DIRECAO REGIONAL DE PARTIDO POLITICO                                15
FUNDACAO PUBLICA DE DIREITO PUB MUNICIPAL                                    11
CONSORCIO PUBDE DIREITO PUB ASS PUB                                           9
AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL                                     9
FUNDACAO PUB DE DIREITO PUB EST OU DO DF                                      7
ORGAO PUBLICO DO PODER JUDICIARIO ESTADUAL                                    5
GRUPO DE SOCIEDADES                                                           5
FUNDACAO PUBLICA DE DIREITO PUBFEDERAL                                        5
ORGAO PUBLICO AUTONOMO MUNICIPAL                                              3
ENTIDADE DE MEDIACAO E ARBITRAGEM                                             3
ESTABELECIMENTO NO BRASIL DE SOCIEDADE ESTRANGEIRA                            3
ORGAO PUBLICO DO PODER LEGISLATIVO ESTADUAL OU DO DISTRITO FEDERAL            2
SOCIEDADE MERCANTIL DE CAPITAL E INDUSTRIA                                    2
NATUREZA JURIDICA INVALIDA                                                    2
SOCIEDADE EMPRESARIA EM COMANDITA POR ACOES                                   2
ORGAO PUBLICO DO PODER JUDICIARIO FEDERAL                                     2
ESTABELECIMENTO NO BRASIL DE FUNDACAO OU ASSOCIACAO ESTRANGEIRAS              1
REPRESENTACAO DIPLOMATICA ESTRANGEIRA                                         1
CONSORCIO PUBLICO DE DIREITO PRIVADO                                          1
FUNDACAO PUBLICA DE DIREITO PRIVADO MUNICIPAL                                 1
CLUBE FUNDO DE INVESTIMENTO                                                   1
ORGAO PUBLICO AUTONOMO ESTADUAL OU DO DISTRITO FEDERAL                        1
FUNDACAO PUBLICA DE DIREITO PRIVADO FEFERAL                                   1
SOCIEDADE SIMPLES EM COMANDITA SIMPLES                                        1
COMUNIDADE INDIGENA                                                           1
Name: de_natureza_juridica, dtype: int64


MA    27463
RN    21543
AM    17630
PI    16675
RO    12243
AC     4446
Name: sg_uf, dtype: int64


OUTROS                            69315
ENTIDADES EMPRESARIAIS            21476
ENTIDADES SEM FINS LUCRATIVOS      7920
ADMINISTRACAO PUBLICA               677
CARGO POLITICO                      335
PESSOAS FISICAS                     276
INSTITUICOES EXTRATERRITORIAIS        1
Name: natureza_juridica_macro, dtype: int64


COMERCIO VAREJISTA                                   37435
SERVICOS DIVERSOS                                    12935
SERVICOS DE ALOJAMENTO/ALIMENTACAO                    6629
INDUSTRIA DA CONSTRUCAO                               5515
COMERCIO E REPARACAO DE VEICULOS                      4861
BENS DE CONSUMO                                       4730
SERVICOS ADMINISTRATIVOS                              4587
SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS        3746
COMERCIO POR ATACADO                                  3468
TRANSPORTE, ARMAZENAGEM E CORREIO                     3257
SERVICOS DE EDUCACAO                                  2437
SERVICOS DE SAUDE                                     2123
CULTURA, ESPORTE E RECREACAO                          1176
SIDERURGICA-METALURGIA                                 786
TELECOM                                                762
PRODUTOS DE AGROPECUARIA                               700
QUIMICA-PETROQUIMICA                                   689
ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL      613
ATIVIDADES IMOBILIARIAS                                600
PAPEL E CELULOSE                                       459
SEGUROS, PLANOS DE PREVIDENCIA E PLANOS DE SAUDE       387
INDUSTRIA DIGITAL                                      371
OUTROS                                                 365
SERVICOS FINANCEIROS                                   333
SERVICOS DE SANEAMENTO BASICO                          272
TEXTEIS                                                207
INDUSTRIAS EXTRATIVAS                                  202
ELETRICIDADE E GAS                                     130
INDUSTRIA AUTOMOTIVA                                    84
SERVICOS SOCIAIS                                        78
ELETROELETRONICOS                                       56
FARMACEUTICA                                             5
ORGANISMOS INTERNACIONAIS                                2
Name: de_ramo, dtype: int64


COMERCIO            45764
SERVIÇO             40908
INDUSTRIA            6748
CONSTRUÇÃO CIVIL     5515
AGROPECUARIA          700
other                 365
Name: setor, dtype: int64


0.205479     127
0.208219     120
0.202740     102
0.216438      73
8.021918      63
6.317808      61
0.200000      60
0.624658      60
0.449315      59
3.216438      57
0.531507      57
0.663014      56
6.315068      56
0.745205      56
0.243836      55
0.512329      55
0.742466      55
0.180822      55
0.224658      55
0.602740      55
0.797260      55
7.334247      54
1.463014      54
0.227397      54
0.739726      54
0.109589      54
0.547945      54
0.534247      53
0.457534      53
0.564384      53
            ...
34.898630      1
30.145205      1
47.783562      1
47.923288      1
5.216438       1
43.087671      1
8.115068       1
7.556164       1
43.509589      1
29.517808      1
35.775342      1
48.298630      1
17.071233      1
45.027397      1
26.926027      1
1.457534       1
41.301370      1
6.156164       1
35.887671      1
42.641096      1
32.616438      1
24.427397      1
6.504110       1
16.832877      1
17.380822      1
34.057534      1
48.065753      1
39.153425      1
44.810959      1
4.123288       1
Name: idade_empresa_anos, Length: 11106, dtype: int64


1 a 5      30103
5 a 10     25206
> 20       16247
10 a 15    10658
<= 1       10073
15 a 20     7713
Name: idade_emp_cat, dtype: int64


False    99762
True       238
Name: fl_me, dtype: int64


False    98204
True      1796
Name: fl_sa, dtype: int64


False    67195
True     32805
Name: fl_mei, dtype: int64


False    99742
True       258
Name: fl_ltda, dtype: int64


2005-11-03    14908
2006-12-21      483
2006-12-01      448
2010-05-15      391
2005-09-24      362
1998-07-28      323
2006-12-02      319
2005-08-27      287
2004-10-30      206
2001-07-01      202
2004-10-16      182
2003-10-18      173
2006-03-08      161
2018-08-14      127
2018-08-13      120
2004-12-24      110
2008-12-31      110
2018-08-15      102
2006-03-07      102
2001-07-08       99
2003-10-04       91
2015-02-09       90
2004-10-23       87
2005-09-03       85
2002-10-12       85
2005-10-07       77
2005-10-22       76
2018-08-10       73
2005-08-06       73
2010-10-22       63
              ...
1999-09-30        1
2009-02-22        1
1999-09-14        1
2000-02-28        1
1995-06-22        1
2001-04-09        1
2014-12-21        1
2000-10-21        1
2000-09-11        1
2002-08-30        1
2001-09-04        1
1991-02-07        1
2003-02-27        1
2012-04-05        1
2017-09-03        1
2003-06-13        1
2004-04-08        1
2007-07-01        1
2000-11-27        1
2003-05-19        1
2013-11-02        1
2001-09-26        1
2012-11-17        1
2009-01-31        1
1987-07-23        1
2003-06-19        1
1991-09-13        1
2002-06-07        1
2013-01-06        1
1994-01-31        1
Name: dt_situacao, Length: 5755, dtype: int64


False    99986
True        14
Name: fl_st_especial, dtype: int64


False    55348
True     44652
Name: fl_email, dtype: int64


True     72641
False    27359
Name: fl_telefone, dtype: int64


NAO    51201
SIM    48799
Name: fl_rm, dtype: int64


COMERCIO VAREJISTA                                                                                        37435
ATIVIDADES DE ORGANIZACOES ASSOCIATIVAS                                                                    8151
ALIMENTACAO                                                                                                6068
COMERCIO E REPARACAO DE VEICULOS AUTOMOTORES E MOTOCICLETAS                                                4861
COMERCIO POR ATACADO EXCETO VEICULOS AUTOMOTORES E MOTOCICLETAS                                            3468
OUTRAS ATIVIDADES DE SERVICOS PESSOAIS                                                                     3378
SERVICOS ESPECIALIZADOS PARA CONSTRUCAO                                                                    3102
EDUCACAO                                                                                                   2437
TRANSPORTE TERRESTRE                                                                                       2422
SERVICOS DE ESCRITORIO DE APOIO ADMINISTRATIVO E OUTROS SERVICOS PRESTADOS PRINCIPALMENTE AS EMPRESAS      2131
CONSTRUCAO DE EDIFICIOS                                                                                    2052
ATIVIDADES DE ATENCAO A SAUDE HUMANA                                                                       1912
FABRICACAO DE PRODUTOS ALIMENTICIOS                                                                        1532
PUBLICIDADE E PESQUISA DE MERCADO                                                                          1471
REPARACAO E MANUTENCAO DE EQUIPAMENTOS DE INFORMATICA E COMUNICACAO E DE OBJETOS PESSOAIS E DOMESTICOS     1244
CONFECCAO DE ARTIGOS DO VESTUARIO E ACESSORIOS                                                             1052
ATIVIDADES JURIDICAS DE CONTABILIDADE E DE AUDITORIA                                                        973
SERVICOS PARA EDIFICIOS E ATIVIDADES PAISAGISTICAS                                                          921
ATIVIDADES ESPORTIVAS E DE RECREACAO E LAZER                                                                796
FABRICACAO DE PRODUTOS DE METAL EXCETO MAQUINAS E EQUIPAMENTOS                                              731
ALUGUEIS NAO IMOBILIARIOS E GESTAO DE ATIVOS INTANGIVEIS NAO FINANCEIROS                                    725
ADMINISTRACAO PUBLICA DEFESA E SEGURIDADE SOCIAL                                                            613
MANUTENCAO REPARACAO E INSTALACAO DE MAQUINAS E EQUIPAMENTOS                                                600
ATIVIDADES IMOBILIARIAS                                                                                     600
ALOJAMENTO                                                                                                  561
OUTRAS ATIVIDADES PROFISSIONAIS CIENTIFICAS E TECNICAS                                                      503
AGENCIAS DE VIAGENS OPERADORES TURISTICOS E SERVICOS DE RESERVAS                                            494
FABRICACAO DE MOVEIS                                                                                        493
SERVICOS DE ARQUITETURA E ENGENHARIA TESTES E ANALISES TECNICAS                                             492
FABRICACAO DE PRODUTOS DIVERSOS                                                                             475
                                                                                                          ...
PESCA E AQUICULTURA                                                                                         126
FABRICACAO DE PRODUTOS DE BORRACHA E DE MATERIAL PLASTICO                                                   125
PRODUCAO FLORESTAL                                                                                          124
ATIVIDADES DE RADIO E DE TELEVISAO                                                                          113
FABRICACAO DE PRODUTOS QUIMICOS                                                                             112
PREPARACAO DE COUROS E FABRICACAO DE ARTEFATOS DE COURO ARTIGOS PARA VIAGEM E CALCADOS                       93
SERVICOS DE ASSISTENCIA SOCIAL SEM ALOJAMENTO                                                                78
CAPTACAO TRATAMENTO E DISTRIBUICAO DE AGUA                                                                   71
FABRICACAO DE CELULOSE PAPEL E PRODUTOS DE PAPEL                                                             64
FABRICACAO DE BEBIDAS                                                                                        55
FABRICACAO DE VEICULOS AUTOMOTORES REBOQUES E CARROCERIAS                                                    50
SEGUROS RESSEGUROS PREVIDENCIA COMPLEMENTAR E PLANOS DE SAUDE                                                37
FABRICACAO DE OUTROS EQUIPAMENTOS DE TRANSPORTE EXCETO VEICULOS AUTOMOTORES                                  34
FABRICACAO DE MAQUINAS E EQUIPAMENTOS                                                                        33
ESGOTO E ATIVIDADES RELACIONADAS                                                                             33
FABRICACAO DE EQUIPAMENTOS DE INFORMATICA PRODUTOS ELETRONICOS E OPTICOS                                     33
TRANSPORTE AEREO                                                                                             31
ATIVIDADES VETERINARIAS                                                                                      31
ATIVIDADES LIGADAS AO PATRIMONIO CULTURAL E AMBIENTAL                                                        29
EXTRACAO DE MINERAIS METALICOS                                                                               29
FABRICACAO DE MAQUINAS APARELHOS E MATERIAIS ELETRICOS                                                       23
METALURGIA                                                                                                   22
PESQUISA E DESENVOLVIMENTO CIENTIFICO                                                                        19
ATIVIDADES DE EXPLORACAO DE JOGOS DE AZAR E APOSTAS                                                          10
ATIVIDADES DE APOIO A EXTRACAO DE MINERAIS                                                                   10
EXTRACAO DE PETROLEO E GAS NATURAL                                                                            7
FABRICACAO DE COQUE DE PRODUTOS DERIVADOS DO PETROLEO E DE BIOCOMBUSTIVEIS                                    6
FABRICACAO DE PRODUTOS FARMOQUIMICOS E FARMACEUTICOS                                                          5
DESCONTAMINACAO E OUTROS SERVICOS DE GESTAO DE RESIDUOS                                                       4
ORGANISMOS INTERNACIONAIS E OUTRAS INSTITUICOES EXTRATERRITORIAIS                                             2
Name: nm_divisao, Length: 86, dtype: int64


COMERCIO; REPARACAO DE VEICULOS AUTOMOTORES E MOTOCICLETAS           45764
OUTRAS ATIVIDADES DE SERVICOS                                        12773
INDUSTRIAS DE TRANSFORMACAO                                           7016
ALOJAMENTO E ALIMENTACAO                                              6629
CONSTRUCAO                                                            5515
ATIVIDADES ADMINISTRATIVAS E SERVICOS COMPLEMENTARES                  4587
ATIVIDADES PROFISSIONAIS CIENTIFICAS E TECNICAS                       3746
TRANSPORTE ARMAZENAGEM E CORREIO                                      3257
EDUCACAO                                                              2437
SAUDE HUMANA E SERVICOS SOCIAIS                                       2201
ARTES CULTURA ESPORTE E RECREACAO                                     1176
INFORMACAO E COMUNICACAO                                              1133
ATIVIDADES FINANCEIRAS DE SEGUROS E SERVICOS RELACIONADOS              720
AGRICULTURA PECUARIA PRODUCAO FLORESTAL PESCA E AQUICULTURA            700
ADMINISTRACAO PUBLICA DEFESA E SEGURIDADE SOCIAL                       613
ATIVIDADES IMOBILIARIAS                                                600
other                                                                  365
AGUA ESGOTO ATIVIDADES DE GESTAO DE RESIDUOS E DESCONTAMINACAO         272
INDUSTRIAS EXTRATIVAS                                                  202
SERVICOS DOMESTICOS                                                    162
ELETRICIDADE E GAS                                                     130
ORGANISMOS INTERNACIONAIS E OUTRAS INSTITUICOES EXTRATERRITORIAIS        2
Name: nm_segmento, dtype: int64


False    56548
True     43452
Name: fl_optante_simples, dtype: int64


False    79434
True     20566
Name: fl_optante_simei, dtype: int64

MA       26866
RN       21116
AM       17173
PI       16368
RO       11924
AC        4306
SP         635
other      365
DF         244
CE         211
RJ         139
PE          95
PA          92
PR          76
MG          64
MT          57
GO          45
BA          42
PB          42
RS          29
SC          27
ES          27
MS          16
TO          16
RR          11
AL           8
SE           3
AP           3
Name: sg_uf_matriz, dtype: int64


VERDE       31584
AZUL        22832
AMARELO     19661
CINZA       13750
LARANJA      7814
other        3146
VERMELHO     1213
Name: de_saude_tributaria, dtype: int64


ACIMA DE 1 ANO    82111
ATE 1 ANO          8198
SEM INFORMACAO     6544
other              3146
ATE 3 MESES           1
Name: de_saude_rescencia, dtype: int64


23.0    23586
22.0    19373
0.0      9690
24.0     9555
48.0     5762
25.0     5423
26.0     5274
27.0     4103
21.0     2623
7.0      2223
47.0     2082
9.0      1948
50.0     1450
10.0     1337
8.0      1216
11.0      938
49.0      812
20.0      636
12.0      536
19.0      513
54.0      336
52.0      174
18.0      103
28.0       95
41.0       45
40.0       31
39.0       26
51.0       12
53.0       11
38.0       11
66.0       10
17.0        9
36.0        9
14.0        8
13.0        7
37.0        5
65.0        5
15.0        5
29.0        4
64.0        3
42.0        3
35.0        2
30.0        1
45.0        1
16.0        1
31.0        1
2.0         1
46.0        1
Name: nu_meses_rescencia, dtype: int64


MEDIA          47134
ALTA           33002
BAIXA          16573
other           2314
MUITO BAIXA      977
Name: de_nivel_atividade, dtype: int64


0.00       31235
1549.10      446
2361.38      187
1086.05      156
3940.05      121
786.74       111
3321.86      108
2679.50      107
2019.39      100
1910.81       97
1699.17       92
3071.98       89
1725.52       89
425.28        88
1592.20       88
1692.92       87
690.18        86
1404.94       83
1660.52       82
1057.36       79
845.75        78
1375.69       74
1156.95       71
1537.84       69
2050.40       68
1530.23       67
2196.21       66
724.91        65
1412.73       65
894.48        61
           ...
2160.61        1
301.13         1
546.97         1
920.97         1
856.00         1
540.22         1
463.94         1
668.12         1
701.95         1
421.78         1
542.16         1
797.20         1
927.63         1
761.82         1
548.24         1
513.31         1
492.51         1
3536.29        1
634.00         1
460.46         1
459.65         1
679.27         1
521.11         1
581.08         1
429.86         1
539.78         1
663.05         1
600.76         1
481.50         1
397.93         1
Name: empsetorcensitariofaixarendapopulacao, Length: 12525, dtype: int64


CENTRO AMAZONENSE         15399
NORTE MARANHENSE          13247
LESTE POTIGUAR            12828
other                     12680
CENTRO NORTE PIAUIENSE     9189
OESTE MARANHENSE           5676
OESTE POTIGUAR             4584
LESTE MARANHENSE           3771
VALE DO ACRE               3556
CENTRO MARANHENSE          3023
SUDOESTE PIAUIENSE         2639
NORTE PIAUIENSE            2607
CENTRAL POTIGUAR           2343
SUDESTE PIAUIENSE          2188
AGRESTE POTIGUAR           1642
SUL MARANHENSE             1612
SUL AMAZONENSE             1030
VALE DO JURUA               866
SUDOESTE AMAZONENSE         786
NORTE AMAZONENSE            334
Name: nm_meso_regiao, dtype: int64


MANAUS                               12893
other                                12680
NATAL                                10158
AGLOMERACAO URBANA DE SAO LUIS        9906
TERESINA                              7345
IMPERATRIZ                            3334
RIO BRANCO                            3040
MOSSORO                               2362
PINDARE                               1780
MACAIBA                               1635
MEDIO MEARIM                          1458
LITORAL PIAUIENSE                     1453
CAXIAS                                1433
BAIXADA MARANHENSE                    1385
BAIXO PARNAIBA PIAUIENSE              1154
PICOS                                 1049
ALTO MEDIO CANINDE                     945
ALTO MEARIM E GRAJAU                   921
CAMPO MAIOR                            901
PARINTINS                              868
AGRESTE POTIGUAR                       861
SERIDO ORIENTAL                        816
GERAIS DE BALSAS                       798
FLORIANO                               774
VALE DO ACU                            726
MADEIRA                                683
CODO                                   681
LITORAL SUL                            674
PRESIDENTE DUTRA                       644
ITACOATIARA                            612
                                     ...
ALTO MEDIO GURGUEIA                    459
ROSARIO                                446
COARI                                  421
VALENCA DO PIAUI                       408
MACAU                                  370
LITORAL NORDESTE                       361
CHAPADAS DO EXTREMO SUL PIAUIENSE      338
BRASILEIA                              328
BAIXO PARNAIBA MARANHENSE              322
UMARIZAL                               321
CHAPADA DO APODI                       316
RIO PRETO DA EVA                       313
RIO NEGRO                              304
TEFE                                   292
SERRA DE SANTANA                       286
ALTO PARNAIBA PIAUIENSE                276
ANGICOS                                260
BAIXA VERDE                            260
TARAUACA                               257
JURUA                                  249
CHAPADAS DAS MANGABEIRAS               234
PIO IX                                 194
BOCA DO ACRE                           192
SERRA DE SAO MIGUEL                    190
COELHO NETO                            189
SENA MADUREIRA                         188
BERTOLINIA                             186
PURUS                                  155
MEDIO OESTE                            120
JAPURA                                  30
Name: nm_micro_regiao, Length: 74, dtype: int64


True     57280
False    42720
Name: fl_passivel_iss, dtype: int64


1.0      55948
0.0      24787
2.0      15440
3.0       1907
4.0        704
5.0        366
6.0        197
8.0        144
7.0        137
9.0         69
96.0        54
12.0        35
37.0        31
15.0        29
10.0        25
13.0        21
11.0        17
18.0        14
109.0       11
14.0        11
21.0         9
20.0         7
19.0         7
17.0         7
16.0         4
50.0         4
29.0         2
26.0         2
25.0         2
24.0         1
28.0         1
52.0         1
34.0         1
49.0         1
35.0         1
60.0         1
27.0         1
23.0         1
Name: qt_socios, dtype: int64


0.000000      32686
37.000000      1869
36.000000      1854
38.000000      1767
35.000000      1763
41.000000      1762
39.000000      1748
34.000000      1735
33.000000      1728
40.000000      1726
32.000000      1687
31.000000      1676
43.000000      1675
44.000000      1606
42.000000      1604
46.000000      1563
30.000000      1531
45.000000      1471
29.000000      1438
48.000000      1418
47.000000      1402
28.000000      1321
49.000000      1313
52.000000      1304
50.000000      1287
51.000000      1261
27.000000      1202
54.000000      1160
26.000000      1116
53.000000      1107
              ...
30.800000         1
75.400000         1
67.800000         1
31.714286         1
78.600000         1
28.750000         1
42.800000         1
52.777778         1
47.250000         1
35.600000         1
33.400000         1
110.000000        1
57.833333         1
46.833333         1
35.523810         1
46.941176         1
92.500000         1
53.280000         1
60.600000         1
5.000000          1
11.500000         1
76.333333         1
38.600000         1
46.428571         1
54.846154         1
57.800000         1
50.428571         1
52.625000         1
42.571429         1
55.307692         1
Name: idade_media_socios, Length: 601, dtype: int64


0.0     68610
1.0     28980
2.0      1988
3.0       266
4.0        75
5.0        34
15.0       12
6.0         9
7.0         7
9.0         6
10.0        3
8.0         3
24.0        1
21.0        1
14.0        1
17.0        1
18.0        1
13.0        1
11.0        1
Name: qt_socios_feminino, dtype: int64


DE R$ 81.000,01 A R$ 360.000,00             59034
ATE R$ 81.000,00                            21513
DE R$ 360.000,01 A R$ 1.500.000,00          10078
other                                        5882
DE R$ 1.500.000,01 A R$ 4.800.000,00         2161
DE R$ 4.800.000,01 A R$ 10.000.000,00         472
DE R$ 10.000.000,01 A R$ 30.000.000,00        319
SEM INFORMACAO                                274
DE R$ 30.000.000,01 A R$ 100.000.000,00       187
DE R$ 100.000.000,01 A R$ 300.000.000,00       61
DE R$ 300.000.000,01 A R$ 500.000.000,00       10
ACIMA DE 1 BILHAO DE REAIS                      6
DE R$ 500.000.000,01 A 1 BILHAO DE REAIS        3
Name: de_faixa_faturamento_estimado, dtype: int64


DE R$ 81.000,01 A R$ 360.000,00             54533
ATE R$ 81.000,00                            21412
DE R$ 360.000,01 A R$ 1.500.000,00          11602
other                                        5882
DE R$ 1.500.000,01 A R$ 4.800.000,00         2871
DE R$ 4.800.000,01 A R$ 10.000.000,00         880
DE R$ 10.000.000,01 A R$ 30.000.000,00        816
ACIMA DE 1 BILHAO DE REAIS                    754
DE R$ 30.000.000,01 A R$ 100.000.000,00       660
DE R$ 100.000.000,01 A R$ 300.000.000,00      327
DE R$ 500.000.000,01 A 1 BILHAO DE REAIS      158
DE R$ 300.000.000,01 A R$ 500.000.000,00      105
Name: de_faixa_faturamento_estimado_grupo, dtype: int64


2.100000e+05    53851
5.000000e+04    20585
0.000000e+00     6156
9.300000e+05     3549
1.854576e+05     1794
1.236384e+05     1368
3.709152e+05     1366
2.472768e+05      830
5.563728e+05      652
7.418304e+05      602
6.181920e+04      445
4.121280e+04      411
6.181920e+05      386
4.945536e+05      376
9.272880e+05      349
1.112746e+06      307
3.090960e+05      218
1.545480e+05      214
1.648512e+05      208
8.654688e+05      204
9.891072e+05      185
1.298203e+06      181
1.483661e+06      165
2.060640e+05      144
8.242560e+04      136
1.236384e+06      129
2.884896e+05      126
4.121280e+05      125
4.327344e+05      114
1.854576e+06      113
                ...
1.086988e+07        1
4.863110e+07        1
2.303796e+07        1
3.029141e+07        1
3.760668e+07        1
8.737114e+06        1
7.516184e+07        1
6.274649e+07        1
1.148807e+07        1
4.590076e+07        1
3.220832e+09        1
1.095230e+08        1
3.157931e+07        1
1.900940e+07        1
1.489843e+09        1
6.882538e+06        1
2.537163e+08        1
5.501909e+07        1
9.324396e+07        1
7.639822e+07        1
1.164262e+07        1
1.013835e+07        1
1.370326e+07        1
1.205474e+07        1
2.668529e+07        1
1.081836e+07        1
4.646743e+07        1
3.807032e+07        1
3.812184e+06        1
2.900351e+07        1
Name: vl_faturamento_estimado_aux, Length: 867, dtype: int64


2.100000e+05    49834
5.000000e+04    20585
0.000000e+00     5882
9.300000e+05     2858
1.854576e+05     1554
4.200000e+05     1490
1.236384e+05     1236
3.709152e+05     1157
2.472768e+05      727
5.563728e+05      549
7.418304e+05      505
6.181920e+04      381
4.121280e+04      379
4.945536e+05      342
6.181920e+05      338
6.300000e+05      326
9.272880e+05      280
1.112746e+06      269
1.648512e+05      192
1.545480e+05      191
3.090960e+05      177
8.654688e+05      168
9.891072e+05      164
3.954576e+05      153
1.298203e+06      137
1.483661e+06      136
2.060640e+05      123
8.242560e+04      122
8.400000e+05      110
5.809152e+05      106
                ...
1.285839e+07        1
9.070451e+07        1
2.562951e+09        1
6.717686e+06        1
4.731963e+09        1
5.670000e+06        1
1.111819e+06        1
7.767686e+06        1
1.001471e+07        1
1.849320e+07        1
4.623706e+06        1
4.088203e+06        1
3.260963e+07        1
9.077150e+07        1
1.634851e+06        1
4.067333e+06        1
3.567619e+06        1
2.562481e+09        1
2.045458e+06        1
5.378664e+07        1
6.217606e+07        1
6.218132e+07        1
7.264826e+08        1
2.272192e+08        1
1.136085e+08        1
5.749186e+07        1
1.481991e+08        1
1.423767e+06        1
2.153150e+08        1
3.757878e+07        1
Name: vl_faturamento_estimado_grupo_aux, Length: 2988, dtype: int64

In [62]:
p1_label = p1.apply(lambda col: le.fit_transform(col))

p1_label.head(5)

,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,fl_sa,...,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,qt_socios,idade_media_socios,qt_socios_feminino,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux
0,1,53,4,2,11,2,4452,1,0,0,...,6,48,1,2,205,0,2,2,154,590
1,1,16,3,5,21,4,511,0,0,0,...,4,69,1,1,53,0,10,10,13,13
2,1,16,1,5,32,4,2417,3,0,0,...,2,43,1,1,85,0,1,1,2,2
3,1,16,1,5,25,4,2227,3,0,0,...,2,43,1,1,119,0,10,10,13,13
4,1,16,4,5,27,4,1126,0,0,0,...,6,48,1,1,0,0,10,10,13,13

In [ ]:
from sklearn.Ne import AgglomerativeClustering

cluster = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage='ward')
p1_label['cluster'] = cluster.fit_predict(p1_label)

## Conclusão até o momento

In [ ]:
Para fazer o KNN precisamos limpar os nans. O fillna não está funcionando bem para isso
Vou recomeçar e fazer com o Imputer